.wc-rocket-loader-wrapper .wc-rocket-loader{
    z-index: 1000;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgb(255, 255, 255);
    opacity: 0.6;
    cursor: default;
    position: absolute;
}

.wc-rocket-loader-wrapper{
    position: relative;
}

.wc-rocket-loader-wrapper .wc-rocket-loader.hide{
    display: none;
}